body {
    color: #fff;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}
input {
    color: #000;
}
label {
    color: #ddd;
}

.form-container {
    background-color: #202020;
    border-radius: 10px;
    transition: height 300ms;
    margin-top: -9vh;
    z-index: 2;
    position: relative;
    border: 1px solid #282828;
}


.content {
    margin: 0 auto;
    display: block;
    width: 80vw;
}

.search-select {
    position: relative;
    margin-bottom: 3px;
    width: 100%;
}

.search-select input.active {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-color: #f0f0f0;
}

.search-select input.active.form-control:focus {
    box-shadow: none;
    border-color: #f0f0f0;
}

.search-select-results ul {
    list-style-type: none;
    padding: 5px 0 0 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    position: absolute;
    width: 100%;
    background-color: #fff;
    color: #444;
    z-index: 2;
    max-height: 400px;
    overflow-y: scroll;
}

.search-select-results li {
    padding: 6px 30px;
    cursor: pointer;
    transition: background-color 350ms;
    border-bottom: 1px solid #f0f0f0;
}

.search-select-results li:hover {
    background-color: #f0f0f0;
}

.result-base-currency {
    font-size: 1.2rem;
    color: #b9b8b8;
    font-weight: 600;
}
.result-quote-currency {
    font-size: 1.5rem;
}

.delete-icon {
    font-size: 1.2em;
    margin-top: -3px;
    margin-right: -30px;
    padding-left: 15px;
    cursor: pointer;
}

.btn {
    min-width: 140px;
}
.btn-sm {
    min-width: auto;
}

/* custom invert button */
.btn.btn-invert {
    color: #fdfdfd;
    border: 1px solid #fdfdfd;
    background-color: transparent;
}
.btn.btn-invert:hover {
    background-color: #fdfdfd;
    color: #222;
}

.btn.convert-btn {
    color: #fff !important;
    background-color: #009ddb;
    border: 2px solid #009ddb;
}
.btn.convert-btn:hover {
    background-color: #11acea;
    border-color: #11acea;
}

.hero {
    height: 40vh;
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 40%;
}
.title h1{
    text-shadow: 2px 2px #174b9b;
}

.input-field {
    position: relative;
}
.input-field i {
    position: absolute;
    z-index: 2;
    color: #626262;
    cursor: pointer;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}
.input-field input {
    /*position: absolute;*/
}